<% comments.each do |comment| %>
  <div id="comment-<%= comment.id %>" class="comment-summary">
    <span class="user">
      <strong><%= link_to comment.user.name, '#' %></strong>
    </span><br>
    <p class="description"><%= comment.body %></p>
    <span class="timestamp text-muted">
      posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
  </div>
<% end %>