<% header @dare.title %>

<p class="description"><%= @dare.description %></p>

<div class="panel panel-default panel-section">
  <% if @comments.any? %>
    <%= render partial: "comments/comment", locals: { comments: @comments } %>
  <% else %>
    <h3>No Comments Posted Yet</h3>
  <% end %>
</div>



