<div id="landing" class="text-centered">
  <h2>Team Nillegal</h2>
  <h1>Do you dare?</h1><br>
  <h4>Join the community of daring individuals and watch things get wild.</h4><br><br>

  <% if user_signed_in? %>
    <%= link_to "Post a dare", new_dare_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
