<h1>Team NILlegal</h1>
<h2>This is the landing page.</h2>
<% if user_signed_in? %>
  <%= link_to "Post a dare", new_dare_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
<% end %>
