@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.panel-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ededed;
}
