@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.panel-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel-section-gray {
  @extend .panel-section;
  background: #ededed;
}

.dare-summary {
  @extend .panel;
  @extend .panel-default;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  border-radius: 0px;
}
