@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.text-centered {
  text-align: center;
}

#landing {
}

.panel-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel-section-gray {
  @extend .panel-section;
  background: #ededed;
}

.dare-summary {
  @extend .panel;
  @extend .panel-default;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.comment-box {
  @extend .panel;
  @extend .panel-default;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.comment-form-box {
  @extend .panel;
  @extend .panel-default;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.dare-submission-box {
  @extend .panel;
  @extend .panel-default;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.navbar-inverse {
  border-radius: 0px;
}

.float-right {
  float: right;
  overflow: hidden;
}

// for embedded youtube videos

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
}
