<div class="panel panel-default panel-section-gray">
  <div class="row">
    <div class="col-lg-2 col-sm-4"><strong>Name</strong></div>
    <div id="user-name" class="col-lg-10 col-sm-8">
      <%= user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-4"><strong>Email</strong></div>
    <div id="user-email" class="col-lg-10 col-sm-8">
      <%= user.email %>
    </div>
  </div>
  <br>
</div>
