<div class="row">
  <div class="col-md-3 col-sm-4"><strong>Name</strong></div>
  <div id="user-name" class="col-md-9 col-sm-8">
    <%= user.name %>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4"><strong>Email</strong></div>
  <div id="user-email" class="col-md-9 col-sm-8">
    <%= user.email %>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4"><strong>Karma Points</strong></div>
  <div id="user-email" class="col-md-9 col-sm-8">
    <%= user.karma_points %>
  </div>
</div>
